<div id="container">
    <div id="sidebar">
     <img src="assets/2.jpg" width="350" class="image-center" alt="">
    </div>
    <div id="content">
        <h1>"Сто лет одиночества"</h1>
        <h2>Габриель Гарсиа Маркес</h2>
     <p>Имя лауреата Нобелевской премии, колумбийца Габриеля Гарсиа Маркеса золотыми буквами вписано в историю литературы XX века. Произведения писателя любят и читают во всем мире. В настоящем издании публикуется знаменитый роман-притча Гарсиа Маркеса "Сто лет одиночества". Соткав художественную ткань произведения из сказок, старинных преданий и легенд, небылиц и притч и раздвинув границы реального до границ фантастического, Гарсиа Маркес вносит собственную лепту в формирование "магического реализма".
      </p>
      <div class="product-price">199₽    <a class="cart-btn" href="#">В корзину</a></div>
    </div> 
  </div>