<html>
<head>
<title>HTML фон</title>

</head>
<body style="color:rgb(255, 255, 255); background-color:#00a2ff">
    <h1 align="center" style="color:rgb(255, 255, 255)">Книжный интернет-магазин</h1>
    <ul id="navbar">
        <li><a href="#">Книги</a></li>
        <li><a href="#">Акции</a></li>
        <li><a href="#">Контакты</a></li>
        <li><a href="#">Доставка</a></li>
      </ul>
    
</body>

   <ul class="products clearfix">
	<li class="product-wrapper">
		<a href="" class="product">
			<div class="product-photo">
				<img src="assets/1.jpg" alt="">
				<p class="product-title">
					<a href="#">Сто лет одиночества</a>
					</p>
					<p class="product-desc">Габриэль Гарси Маркес</p>
					<p class="product-price">Цена: 199.00</p>
		</div>
		
		</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарси Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
		
	</li>
	<li class="product-wrapper">
		<a href="" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарси Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарси Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарси Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
</ul>
</html>