<a class="knopka" (click)="chooseAndUploadFile()">Работа с файлом</a>
<ul class="products clearfix">
	<li class="product-wrapper">
		<a routerLink="/book" routerLinkActive="active" class="product">
			<div class="product-photo">
				<img src="assets/1.jpg" alt="">
				<p class="product-title">
					<a href="#">Сто лет одиночества</a>
					</p>
					<p class="product-desc">Габриэль Гарсиa Маркес</p>
					<p class="product-price">Цена: 199.00</p>
		</div>
		
		</a>
	</li>
	<li class="product-wrapper">
		<a routerLink="/book" routerLinkActive="active" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарсиa Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
		
	</li>
	<li class="product-wrapper">
		<a href="" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарсиa Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарсиa Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"><div class="product-photo">
			<img src="assets/1.jpg" alt="">
			<p class="product-title">
				<a href="#">Сто лет одиночества</a>
				</p>
				<p class="product-desc">Габриэль Гарсиa Маркес</p>
				<p class="product-price">Цена: 199.00</p>
	</div>
	</a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
	<li class="product-wrapper">
		<a href="" class="product"></a>
	</li>
</ul>
