<html>
<head>
<title>HTML фон</title>

</head>
<body style="color:rgb(255, 255, 255); background-color:#00a2ff">
    <h1 align="center" style="color:rgb(255, 255, 255)">Книжный интернет-магазин</h1>
    <ul id="navbar">
        <li><a a routerLink="/home" routerLinkActive="active">Книги</a></li>
        <li><a a routerLink="/home" routerLinkActive="active">Акции</a></li>
        <li><a a routerLink="/home" routerLinkActive="active">Контакты</a></li>
        <li><a routerLink="/home" routerLinkActive="active">Доставка</a></li>
        <li><a a routerLink="/admin" routerLinkActive="active">Админка</a></li>
      </ul>

</body>
<router-outlet></router-outlet>  

</html>